<div class="row">
  <div class="col-sm-6">
    <new-delicacy (onSubmitNewDelicacy)="createDelicacy($event)"></new-delicacy>
  </div>
  <div class="col-sm-6">
    <label class="green">Which Delicacies Were Good For You?</label>
    <select (change)="onChange($event.target.value)">
      <option value="all" selected>All</option>
      <option value="healthy">Healthy</option>
      <option value="unhealthy">Unhealthy</option>
    </select>
    <delicacy-display class="delicacy" *ngFor="#currentDelicacy of delicacyList | healthyRating:filter"
      (click)="delicacyClicked(currentDelicacy)"
      [class.selected]="currentDelicacy === selectedDelicacy"
      [delicacy]="currentdelicacy">
    </delicacy-display>
    <edit-delicacy-details *ngIf="selectedDelicacy" [delicacy]="selectedDelicacy" (onEditdelicacy)="refreshDelicacy($event)">
    </edit-delicacy-details>
  </div>
</div>
